{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": ["prettier"],
  "rules": {
    // "prettier/prettier": "error",
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
