{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
