@import '../../template/_variables';
@import '../../template/_mixins';

.top-listing-item {
  display: block;
  text-decoration: none;
  margin: 5px 0 0 0;
  padding: 10px;
  background-color: #f4f4f4;
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    background-color: #e4e4e4;
  }
}

.top-listing-item-header {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
}
.top-list-item-header-name {
  color: #545454;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  // font-family: $header_font_family;
  margin: 0;
  // letter-spacing: 1px;
  padding: 0;
}

.top-list-item-collection {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8em;
  .count {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 0 0;
    .value {
      opacity: 0.45;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      min-width: 60px;
    }
    .seed {
      color: #008000;
    }
    .leech {
      color: #ff0000;
    }
  }
  .tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    .tags-name {
      color: #7a7a7a;
      font-weight: bold;
      padding: 5px 10px 5px 0px;
    }
    .tags-item {
      color: #acacac;
      padding: 5px 10px 5px 0px;
    }
  }
}
