@import '../../template/_variables';
@import '../../template/_mixins';

.top-container {
}

.top-header {
  letter-spacing: 2px;
  font-family: $header_font_family;
  font-size: 2em;
  flex-basis: auto;
  color: lighten($quinaryColor, 50%);
  padding: 0 0 20px 0;
}

.top-filter-pagination {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin paginationButton() {
  min-width: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 7px;
}

.top-filter-pagination-link {
  @include paginationButton();
  cursor: pointer;
  color: lighten($quinaryColor, 74%);
  border: solid 1px lighten($quinaryColor, 90%);
  &:hover {
    background-color: lighten($quinaryColor, 95%);
  }
}

.top-filter-pagination-link-active {
  @include paginationButton();
  border: solid 1px lighten($primaryColor, 20%);
  color: darken($primaryColor, 20%);
  background-color: lighten($primaryColor, 20%);
}
