// colors
$primaryColor: rgb(209, 231, 81);
$secondaryColor: #4dbce9;
$tertiaryColor: #26ade4;
$quaternaryColor: #ffffff;
$quinaryColor: #000000;
// $senaryColor: #c7f464;

$site_logo_color: #ffffff;

$siteBackGroundColor: #ffffff;

// success
$success_message_background_color: lighten(green, 30%);
$success_message_text_color: $quinaryColor;

// error
$error_message_background_color: lighten(red, 30%);
$error_message_text_color: $quinaryColor;

// buttons
$button_signin_login_text_color: black;
$button_signin_color: lighten($primaryColor, 1%);
$button_login_color: lighten($secondaryColor, 1%);

// header and navbar settings
$headerBGColor: #252525; // nav background
$footerBGColor: darken($siteBackGroundColor, 5%); // footer background
$dropdownBGColor: lighten($headerBGColor, 10%);
$dropdownChildBGColor: lighten($headerBGColor, 15%);

$flex_nav_hoverColor: darken($secondaryColor, 5%); // item hover bg color
$flex_nav_active_Color: darken($tertiaryColor, 15%); // item hover bg color

$flex_nav_linkColor: $quaternaryColor;
$flex_nav_hotdogsColor: $quaternaryColor;

$main_link_size: 0.9em;

// header size - desktop
$desktop_header_size: 3em;
$desktop_header_font_size_logo: 1.7em;
$mobile_header_size: 2em;
$mobile_header_font_size_logo: 1.32em;
$mobile_header_hamburger_size: 1.9em;

// footer size
$footer_height_min: 8em;
$footer_text_color: lighten($quinaryColor, 60%);
$footer_link_color: $tertiaryColor;

// for responsiveness of header
$flex_nav_subNavWidth: 12.5em;
$flex_nav_breakpoint: 800px;
$flex_nav_breakpointA: 800px;
$flex_nav_breakpointB: 1000px;

// home stats square
$stats_background_color: lighten($quinaryColor, 96%);
$stats_tile_background_color: lighten($quinaryColor, 90%);
$stats_tile_outline_color: lighten($quinaryColor, 85%);
$stats_desc_color: lighten($quinaryColor, 65%);
$stats_value_color: lighten($quinaryColor, 40%);
// $stats_color_one: lighten($primaryColor, 30%);
// $stats_color_two: lighten($secondaryColor, 30%);
// $stats_color_three: lighten($tertiaryColor, 30%);
$stats_square_dimension: 140px;
$stats_square_flex_dimension: 140px;

@import url('https://fonts.googleapis.com/css?family=Assistant:800|Fredoka+One|Roboto+Slab:700');
$logoFont: 'Roboto Slab', serif, Arial, Helvetica, sans-serif;
$header_font_family: 'Assistant', sans-serif;

// SEED AND LEACH related colors:
// charts colors are hardcoded in chart elements.
$seed_color: #008000;
$leach_color: #ff0000;
