@import '_variables';
@import '_mixins';

/*Responsive Styles*/
@media screen and (max-width: 767px) {
  .content {
    padding: 1em !important;
  }
  .footerHolder {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 767px) {
  // for safari to keep zoomed out on text focus
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='password'] {
    font-size: 16px;
  }
}
