@import '_variables';
@import '_mixins';

body {
  -webkit-animation: bugfix infinite 1s; /* needed for checkbox hack */
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
} /* needed for checkbox hack */

@keyframes menuFadeIn {
  from {
    background-color: $headerBGColor;
  }
  to {
    background-color: $flex_nav_hoverColor;
  }
}

@keyframes menuFadeOutMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logoFadeIn {
  from {
    color: $site_logo_color;
    letter-spacing: 0;
  }
  to {
    color: $primaryColor;
    letter-spacing: 2px;
  }
}

@keyframes logoFadeOut {
  from {
    color: $primaryColor;
    letter-spacing: 2px;
  }
  to {
    color: $site_logo_color;
    letter-spacing: 0em;
  }
}

#nav {
  /* default for mobile */
  position: relative;
  display: inline-block;
  flex-flow: row;
  background-color: $headerBGColor;

  ul#main {
    opacity: 1;
    display: none;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;

    #TR-NAME {
      flex: 1;
      @media (max-width: $flex_nav_breakpoint) {
        display: none;
      }
    }

    li {
      a:not(#navSignUpIn) {
        span {
          font-size: $main_link_size;
        }
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;

        font-weight: bold;
        line-height: $desktop_header_size;
        padding: 0em 1em 0em 1em;
        height: $desktop_header_size;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $flex_nav_linkColor;
        text-decoration: none;
        &:hover {
          background: $flex_nav_hoverColor;
          animation-name: menuFadeIn;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out;
        }
        &:visited {
          text-decoration: none;
        }
      }
      .Link-Final {
        a {
          border-right: 0px;
        }
      }
      // 2nd level
      ul#subOne {
        list-style: none;
        padding: 0px;
        background-color: $dropdownChildBGColor;
        li {
          list-style: none;
          padding-left: 0;
          a {
            padding-left: 1.5em;
          }
          ul {
            list-style: none;
            padding: 0px;
            li {
              a {
                padding-left: 3.125em;
              }
            }
          }
        }
      }
    }
  }

  /*
   // box to right
  #logo-version {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: $primaryColor;
    color: darken($primaryColor, 40%);
    letter-spacing: 1px;
    font-size: 0.9em;
    height: 2em;
    width: 5em;
    transform: translate(20em, 0.3em);
    font-family: monospace !important;
    padding: 2px;
    line-height: 0.9em;
    font-weight: normal !important;
  }
  */

  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul#main,
    &:checked ~ ul#main li ul#subOne li ul li {
      @media (max-width: $flex_nav_breakpoint) {
        animation: fadeIn ease-in 1s;
        opacity: 1;
        display: block !important;
        /* older flexbox */
        // display: -webkit-box;
        // display: -moz-box;
        // display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        background-color: $dropdownBGColor;

        /* newer flexbox */
        display: flex;
        flex-direction: row;

        .navButtons {
          padding: 0.9em;
        }
      }
    }
  }
  .header {
    animation: fadeIn ease-in 1s;
    position: relative;
    display: flex;
    flex-direction: row;
    height: $mobile_header_size;
    font-size: $mobile_header_font_size_logo;
    margin: 0;
    // cursor: pointer;
    .filler {
      cursor: pointer;
      flex-grow: 1;
      z-index: 1;
    }

    span {
      height: $mobile_header_size;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      a {
        text-decoration: none;
        &:visited {
          color: white;
        }
      }
    }
  }

  .header:after {
    animation: fadeIn ease-in 1s;
    opacity: 1;
    /* hamburger & hotdogs */
    position: absolute;
    right: 0.5em;
    top: -0.1em;
    height: $mobile_header_size;
    content: '\2261';
    font-size: $mobile_header_hamburger_size;
    color: $flex_nav_hotdogsColor;
  }

  @media (min-width: $flex_nav_breakpointA) {
  }

  @media (min-width: $flex_nav_breakpoint) {
    /* style for large screen */

    ul#main {
      animation: fadeIn ease-in 1s;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;

      /* newer flexbox */
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;

      li#TR-NAME {
        flex-grow: 1;
        flex-shrink: 1;
        // text-align: left;
        opacity: 1;
        a:not(#logoId) {
          font-family: $logoFont;
          // height: $desktop_header_size;
          line-height: $desktop_header_size;
          padding: 0em 0em 0em 1.3em;
          font-size: $desktop_header_font_size_logo;
          width: 250px;
          display: flex;
          &:hover {
            background: none;
            display: flex;
          }
        }
      }

      li {
        a:not(#navSignUpIn) {
          text-shadow: black 1px 1px;
        }
        animation-name: menuFadeOutMain;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
        position: relative;
        // text-align: center;/
        line-height: 3em;
        height: 3em;
        // /* older flexbox */
        // -ms-flex: 1;
        // -webkit-box-flex: 1;
        // -moz-box-flex: 1;
        // box-flex: 1;

        // /* newer flexbox */
        // flex: 1;

        // 2nd level
        ul#subOne {
          opacity: 1;
          display: none !important;
          position: absolute;
          top: $desktop_header_size;
          left: 0;
          display: block;
          width: $flex_nav_subNavWidth;
          background-color: $dropdownChildBGColor;
          z-index: 200;

          li {
            text-align: left;

            ul {
              position: relative;
              z-index: 300;
              top: 0px;
              right: ($flex_nav_subNavWidth - 0.1);
              li {
                a {
                  font-size: 1em;
                  padding-left: 30px !important;
                }
              }
            }
          }
        }

        &:hover > ul#subOne {
          display: block !important;
        }
      }

      .Link-Final {
        padding-right: 1.3em;
      }
    }
    .header {
      display: none;
    }
  }
}

#navSign {
  word-break: keep-all;
  margin: 0.2em;
  border: none;
  color: $button_signin_login_text_color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  min-width: 7em;
  font-size: 0.7em;
  padding: 0.9em;
  text-align: center;
}

.navButtons {
  .in {
    @include buttonHoverActive($primaryColor, $button_signin_color);
    @include buttonHoverEffect();
  }
  .up {
    @include buttonHoverActive($secondaryColor, $button_login_color);
    @include buttonHoverEffect();
  }
  padding: 0px 10px 0px 10px;
  display: flex;
}

.sNav {
  background-color: $flex_nav_active_Color;
}

.header {
  .logo {
    margin-top: 0.6em;
    span {
      a {
        color: $site_logo_color;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

#main {
  .logo {
    @media (max-width: $flex_nav_breakpoint) {
      display: none;
    }
  }
}

.logo {
  font-weight: 900;
  font-family: $logoFont;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-left: 2em;
}

a#logoId {
  display: flex;
  text-decoration: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: $site_logo_color;
  animation-name: logoFadeOut;
  animation-duration: 0.6s;
  // animation-fill-mode: backwards;
  font-size: 1.6em;
  &:hover {
    // background-color: none;
    animation-name: logoFadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}
// bottom bar
#logo-version {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: $primaryColor;
  color: darken($primaryColor, 40%);
  font-size: 0.9em;
  height: 1.2em;
  width: 16em;
  // left: 2.6em;
  // top: 3.7em;
  transform: translate(0em, 2.9em);
  font-family: monospace !important;
  padding: 2px;
  line-height: 0.9em;
  letter-spacing: 2px;
  font-weight: normal !important;
}

#logo-version-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: fixed;
  z-index: 10;
  background-color: $primaryColor;
  color: darken($primaryColor, 40%);
  font-size: 0.7em;
  height: 1em;
  width: 14em;
  transform: translate(0.2em, 0.2em);
  font-family: monospace !important;
  padding: 1px;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: normal !important;
}
