@import '_variables';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $siteBackGroundColor;
  -webkit-animation: bugfix infinite 1s; /* needed for checkbox hack */
}

#app,
#app > #main-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  min-height: 100%;
}

p {
  a {
    padding: 0px 2px 0px 2px;
    color: $tertiaryColor;
    text-decoration: none;
    position: relative;
    &:hover {
      color: darken($tertiaryColor, 25%);

      &:after {
        border-bottom: 1px solid darken($tertiaryColor, 25%);
      }
    }
  }
  a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;

    border-bottom: 1px solid $tertiaryColor;
  }
}

.footer {
  min-height: $footer_height_min;
}

.footerHolder {
  color: $footer_text_color;
  background-color: $footerBGColor;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.footerHolder a:link,
.footerHolder a:visited {
  color: $footer_link_color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.footerHolder a:hover,
.footerHolder a:active {
  text-decoration: underline;
}

.footerHolder .growBox {
  min-height: 6em;
  flex-grow: 1;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcol {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.fcol div {
  padding: 2px;
}

.builtBox {
  display: flex;
  flex-direction: column;
  width: 110px;
  align-items: center;
  justify-content: center;
}

.builtby {
  color: lighten($footer_text_color, 20%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1em;
  margin-bottom: 5px;
  // text-shadow: black 0px 2px 0px;
}

.footer .byme a {
  padding: 0;
  margin: 0;
  color: $footer_text_color;
  text-decoration: none;
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
}

.content {
  padding: 2em;
  flex-grow: 1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    opacity: 1\9; /* IE9 only */
  }
  to {
    opacity: 0;
  }
}

.menu-fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.change {
  transition: opacity 1s linear 0;
}
