.delete-account {
  .delete-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    color: #68291e;
    background-color: tomato;
    border: solid 1px #a74130;
  }
}
