@import '../../template/_variables';
@import '../../template/_mixins';

.faq-flex-row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  border-top: solid 1px #d8d8d8;
  padding-top: 15px;
  margin: 0 0 15px 0;
  color: darken($primaryColor, 20%);
  line-height: 25px;
  cursor: pointer;
}

.faq-question {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.faq-icon {
  margin: 0 20px 0 0;
}
.faq-answer {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #585858;
  p {
    margin-top: 0;
    line-height: 20px;
  }
}
