* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  -webkit-animation: bugfix infinite 1s;
  /* needed for checkbox hack */ }

#app,
#app > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-grow: 1; */
  height: 100%; }

p a {
  padding: 0px 2px 0px 2px;
  color: #26ade4;
  text-decoration: none;
  position: relative; }
  p a:hover {
    color: #0f5c7b; }
    p a:hover:after {
      border-bottom: 1px solid #0f5c7b; }

p a:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  border-bottom: 1px solid #26ade4; }

.logo {
  font-weight: 900;
  color: #ffffff;
  font-family: "Roboto Slab", serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3em; }

.footer {
  min-height: 8em; }

.footerHolder {
  color: #999999;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer a:link,
.footer a:visited {
  color: #26ade4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none; }

.footer a:hover,
.footer a:active {
  text-decoration: underline; }

.footer .growBox {
  min-height: 8em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.fcol div {
  padding: 2px; }

.builtBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 110px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.builtby {
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2em; }

.footer .byme a {
  color: #999999;
  text-decoration: none;
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px; }

.content {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 2em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
    /* IE9 only */ }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
    /* IE9 only */ }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    opacity: 1\9;
    /* IE9 only */ }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1;
    opacity: 1\9;
    /* IE9 only */ }
  to {
    opacity: 0; } }

.menu-fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.change {
  -webkit-transition: opacity 1s linear 0;
  transition: opacity 1s linear 0; }
body {
  -webkit-animation: bugfix infinite 1s;
  /* needed for checkbox hack */ }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }

/* needed for checkbox hack */
#nav {
  /* default for mobile */
  position: relative;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  background-color: #252525; }
  #nav ul#main {
    opacity: 1;
    display: none;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    #nav ul#main #TR-NAME {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      @media (max-width: 800px) {
        #nav ul#main #TR-NAME {
          display: none; } }
    #nav ul#main li a:not(#navSignUpIn) {
      text-transform: capitalize;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      line-height: 3em;
      padding: 0em 1em 0em 1em;
      height: 3em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: #ffffff;
      text-decoration: none; }
      #nav ul#main li a:not(#navSignUpIn) span {
        font-size: 0.9em; }
      #nav ul#main li a:not(#navSignUpIn):hover {
        background: #36b3e6; }
      #nav ul#main li a:not(#navSignUpIn):visited {
        text-decoration: none; }
    #nav ul#main li .Link-Final a {
      border-right: 0px; }
    #nav ul#main li ul#subOne {
      list-style: none;
      padding: 0px;
      background-color: #4b4b4b; }
      #nav ul#main li ul#subOne li {
        list-style: none;
        padding-left: 0; }
        #nav ul#main li ul#subOne li a {
          padding-left: 1.5em; }
        #nav ul#main li ul#subOne li ul {
          list-style: none;
          padding: 0px; }
          #nav ul#main li ul#subOne li ul li a {
            padding-left: 3.125em; }
  #nav input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    @media (max-width: 800px) {
      #nav input.trigger:checked ~ ul#main,
      #nav input.trigger:checked ~ ul#main li ul#subOne li ul li {
        -webkit-animation: fadeIn ease-in 1s;
        animation: fadeIn ease-in 1s;
        opacity: 1;
        display: block !important;
        /* older flexbox */
        -webkit-box-orient: horizontal;
        box-orient: horizontal;
        background-color: #3f3f3f;
        /* newer flexbox */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row; }
        #nav input.trigger:checked ~ ul#main .navButtons,
        #nav input.trigger:checked ~ ul#main li ul#subOne li ul li .navButtons {
          padding: 0.9em; } }
  #nav .header {
    -webkit-animation: fadeIn ease-in 1s;
    animation: fadeIn ease-in 1s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 2em;
    font-size: 1.32em;
    margin: 0; }
    #nav .header .filler {
      cursor: pointer;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      z-index: 1; }
    #nav .header .logo {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      display: block; }
      #nav .header .logo span a {
        color: #ffffff; }
    #nav .header span {
      height: 2em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
      #nav .header span a {
        text-decoration: none; }
        #nav .header span a:visited {
          color: white; }
  #nav .header:after {
    -webkit-animation: fadeIn ease-in 1s;
    animation: fadeIn ease-in 1s;
    opacity: 1;
    /* hamburger & hotdogs */
    position: absolute;
    right: 0.5em;
    top: -0.1em;
    height: 2em;
    content: '\2261';
    font-size: 1.9em;
    color: #ffffff; }
  @media (min-width: 800px) {
    #nav {
      /* style for large screen */ }
      #nav ul#main {
        -webkit-animation: fadeIn ease-in 1s;
        animation: fadeIn ease-in 1s;
        -webkit-box-orient: horizontal;
        box-orient: horizontal;
        /* newer flexbox */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #nav ul#main li#TR-NAME {
          text-align: left;
          opacity: 1; }
          #nav ul#main li#TR-NAME a {
            font-family: "Roboto Slab", serif, Arial, Helvetica, sans-serif;
            height: 3em;
            line-height: 3em;
            padding: 0em 0em 0em 1.3em;
            font-size: 1.5em;
            width: 250px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            #nav ul#main li#TR-NAME a:hover {
              background: none; }
        #nav ul#main li {
          position: relative;
          line-height: 3em;
          height: 3em; }
          #nav ul#main li a:not(#navSignUpIn) {
            text-shadow: black 1px 1px; }
          #nav ul#main li ul#subOne {
            opacity: 1;
            display: none !important;
            position: absolute;
            top: 3em;
            left: 0;
            display: block;
            width: 12.5em;
            background-color: #4b4b4b;
            z-index: 200; }
            #nav ul#main li ul#subOne li {
              text-align: left; }
              #nav ul#main li ul#subOne li ul {
                position: relative;
                z-index: 300;
                top: 0px;
                right: 12.4em; }
                #nav ul#main li ul#subOne li ul li a {
                  font-size: 1em;
                  padding-left: 30px !important; }
          #nav ul#main li:hover > ul#subOne {
            display: block !important; }
        #nav ul#main .Link-Final {
          padding-right: 1.3em; }
      #nav .header {
        display: none; } }

#navSign {
  word-break: keep-all;
  margin: 0.2em;
  border: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  min-width: 7em;
  font-size: 0.7em;
  padding: 0.9em;
  text-align: center; }

.navButtons {
  padding: 0px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navButtons .in {
    border-radius: 3px;
    border: 1px solid #a1b919;
    -webkit-box-shadow: inset 0 1px 0 #e9f3ab;
    -moz-box-shadow: inset 0 1px 0 #e9f3ab;
    box-shadow: inset 0 1px 0 #e9f3ab;
    text-shadow: 0 -1px 0 #c5e124;
    background-color: #d2e855; }
  .navButtons .up {
    border-radius: 3px;
    border: 1px solid #178ab9;
    -webkit-box-shadow: inset 0 1px 0 #a8def4;
    -moz-box-shadow: inset 0 1px 0 #a8def4;
    box-shadow: inset 0 1px 0 #a8def4;
    text-shadow: 0 -1px 0 #20abe3;
    background-color: #52beea; }

.sNav {
  background-color: #157ea9; }
/*Responsive Styles*/
@media screen and (max-width: 720px) {
  .content {
    padding: 1em; } }

@media screen and (max-width: 767px) {
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='password'] {
    font-size: 16px; } }
.stats {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  border-radius: 3px;
  background-color: #e6e6e6; }

.descr {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 5px;
  padding-left: 8px;
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.descr .top {
  font-family: 'Roboto Slab', serif, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color: #4d4d4d; }

.descr .head {
  letter-spacing: 3px;
  margin: 0px;
  padding: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
  word-wrap: break-word;
  color: #4d4d4d; }

.descr .date {
  padding: 5px;
  color: #919191;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em; }

.stats .seperator {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.stats .group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.stats .group {
  background-color: #d9d9d9;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  min-height: 4em;
  margin: 5px;
  padding: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 140px;
  min-height: 140px;
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.stats .group .name {
  font-weight: 900;
  position: absolute;
  font-size: 0.9em;
  color: #a6a6a6;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.name .pos {
  position: absolute;
  top: 0.8em; }

.stats .group .value {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 3px;
  font-weight: bolder;
  font-size: 1.6em;
  color: #666666;
  text-transform: uppercase;
  position: relative;
  top: -0.7em;
  text-align: center;
  -webkit-animation: fadeIn ease-in 1s;
  animation: fadeIn ease-in 1s; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media screen and (max-width: 400px) {
  .stats .group .value {
    font-size: 1.3em !important; }
  .stats .group .name {
    font-size: 0.8em !important; } }
.loading_text {
  margin: 0px;
  font-size: 2em;
  font-family: Courier New, Courier, monospace;
  color: #949494;
  padding-top: 1.5em;
  font-weight: 900; }

.holder {
  -webkit-animation: fadeIn ease-in 1s;
  animation: fadeIn ease-in 1s;
  padding: 2px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
.home-notification {
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #d5effa;
  padding: 2em; }

.home-notification-head {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: bolder;
  color: #0c465e;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #0c465e; }

.home-notification-text {
  line-height: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; }

.home-notification-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .home-notification-action p {
    padding: 0px;
    margin: 0px; }
.daily-listings {
  border-radius: 3px;
  background-color: #f5fad7;
  min-width: 200px;
  min-height: 450px;
  margin: 1em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em; }
  .daily-listings .dl-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #535f0d;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em; }
  .daily-listings .dl-item-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .daily-listings .dl-item-group .dl-item {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-bottom: 1px solid #eff6c1;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5px 0px 5px 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9em; }
      .daily-listings .dl-item-group .dl-item a {
        line-height: 1.2em;
        padding: 0;
        margin: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        word-break: break-all;
        word-wrap: break-word;
        text-decoration: none;
        color: #535f0d; }
        .daily-listings .dl-item-group .dl-item a:hover {
          color: #8ea216;
          text-decoration: underline; }
      .daily-listings .dl-item-group .dl-item .number {
        background-color: #7a8c13;
        padding: 3px;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 20px;
        min-height: 20px;
        font-size: 12px;
        border-radius: 50%;
        margin-right: 10px;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0; }
      .daily-listings .dl-item-group .dl-item .filler {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      .daily-listings .dl-item-group .dl-item .group {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-weight: bolder;
        -ms-flex-preferred-size: auto;
        flex-basis: auto; }
        @media (max-width: 800px) {
          .daily-listings .dl-item-group .dl-item .group {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; } }
        .daily-listings .dl-item-group .dl-item .group .sub {
          padding: 0px 0px 0px 15px;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex; }
          .daily-listings .dl-item-group .dl-item .group .sub .seed {
            min-width: 4em;
            display: inline;
            color: green; }
          .daily-listings .dl-item-group .dl-item .group .sub .leach {
            min-width: 4em;
            display: inline;
            color: red; }
        .daily-listings .dl-item-group .dl-item .group .uploadedDate {
          width: 8em;
          color: gray;
          font-style: italic;
          font-weight: lighter;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
    .daily-listings .dl-item-group .dl-item:last-child {
      border-bottom: none !important; }
  .daily-listings .dl-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: #a1b919; }
    .daily-listings .dl-footer .dl-options {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 5px;
      font-weight: normal; }
      .daily-listings .dl-footer .dl-options .current {
        font-style: italic;
        color: #c1dc1e; }
      .daily-listings .dl-footer .dl-options .try {
        margin-left: 10px; }
        .daily-listings .dl-footer .dl-options .try a {
          color: black;
          text-decoration: underline; }
.flex-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
/* Collection default theme */

.ReactVirtualized__Collection {
}

.ReactVirtualized__Collection__innerScrollContainer {
}

/* Grid default theme */

.ReactVirtualized__Grid {
}

.ReactVirtualized__Grid__innerScrollContainer {
}

/* Table default theme */

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* List default theme */

.ReactVirtualized__List {
}.tHold {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  display: block; }
form div {
  margin: 1em;
  display: inline-block; }

.loginInput {
  display: inline-block;
  border-radius: 3px;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.7em;
  background-color: #e6e6e6;
  width: 100%;
  margin: 10px;
  font-size: 0.9em; }
  .loginInput:focus {
    border: solid 1px #252525;
    background-color: #dedede; }

.loginButton {
  margin: 10px 0px 10px 0px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 0.9em;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #a1b919;
  -webkit-box-shadow: inset 0 1px 0 #e9f3ab;
  -moz-box-shadow: inset 0 1px 0 #e9f3ab;
  box-shadow: inset 0 1px 0 #e9f3ab;
  text-shadow: 0 -1px 0 #c5e124;
  background-color: #d2e855; }

.loginBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 350px;
  padding: 1em; }

.authHead {
  font-style: italic;
  font-size: 1.3em;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif; }

.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.error {
  background-color: #ff9999;
  padding: 2em 0em 2em 0em;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bold; }

.fullWidth {
  width: 100%; }

.fullHeight {
  height: 100%; }

/*# sourceMappingURL=style.css.map*/