* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: whitesmoke;
}

#app,
#app > div {
  flex-flow: column;
  display: flex;
  height: 100vh;
}

.logo,
.logo a {
  font-weight: 900;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.2em;
}

.header {
  width: 100%;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#2cb5e8, rgb(0, 147, 192));
  /* background-color: #3ca2a2; */
  height: 3em;
  color: white;
}

.footer {
  width: 100%;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  color: #2d2d29;
}

.footer a:link {
  color: #2cb5e8;
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.spacer {
  height: auto;
  flex: 1;
  flex-basis: auto;
}

.content {
  padding: 3em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.nav a {
  text-decoration: none;
  color: #2d2d29;
  padding-left: 0.35em;
  padding-right: 0.35em;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
