* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: whitesmoke;
}

#app,
#app > div {
  flex-flow: column;
  display: flex;
  flex-grow: 1;
  /* height: 100%; */
}

.logo,
.logo a {
  font-weight: 900;
  color: rgb(253, 253, 253);
  font-family: 'Roboto Slab', serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
}

.header {
  width: 100%;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(#2cb5e8, rgb(0, 147, 192)); */
  background-color: #252525;
  height: 3em;
  color: white;
}

.footer {
  width: 100%;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  background-color: #252525;
  color: #a1a1a1;
}

.footer a:link,
.footer a:visited {
  color: #42e82c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  text-decoration: underline;
}

.builtBox {
  display: flex;
  flex-direction: column;
  width: 110px;
  align-items: center;
  justify-content: center;
}

.builtby {
  color: #7c7c7c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2em;
  text-shadow: black 0px 2px 0px;
}

.footer .byme a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
}

.spacer {
  height: auto;
  flex: 1;
  flex-basis: auto;
}

.content {
  /* height: auto; */
  min-height: calc(100vh - 4em - 3em - 2em);
  padding: 1.5em 3em 1.5em 3em;
  flex-grow: 1;
  flex-basis: auto;
}

.nav a {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #cccccc;
  font-size: 0.8em;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.nav .sNav,
.nav a:hover,
.nav a:active {
  color: white;
  text-shadow: black 0px 3px;
  font-weight: bold;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

label {
  padding: 0.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
  font-weight: 900;
  letter-spacing: 0px;
}

.loginInput {
  background-color: #252525;
  color: whitesmoke;
  font-size: 0.7em;
  width: 100%;
  padding: 0.9em;
  border: none;
  border-radius: 0.5em;
}

.loginButton {
  border: none;
  background-color: #42e82c;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px;
  border-radius: 0.5em;
  padding: 0.9em;
  min-width: 130px;
  width: 100%;
  /* font-weight: 900; */
}

.loginBox {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 4em;
  /* background-color: #f0f0f0; */
  border-radius: 2em;
  /* border: white; */
}

.loginBox h2 {
  font-size: 1.85 em;
  padding: 0em 0em 1em 0em;
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  font-stretch: extra-expanded;
}

.flexCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullWidth {
  width: 100%;
}

.error {
  background-color: #ffafaf;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  font-weight: bold;
}
