@import '../../template/_variables';
@import '../../template/_mixins';

.tHold {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  display: block;
}

.listing-header {
  font-size: 2em;
  font-family: $header_font_family;
  margin: 0em 0em 1em 0em;
}

.l-section-header {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em 0em 0em 0em;
  font-weight: bold;
}

.l-split-details {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-details {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  .item {
    min-width: 200px;
    border-radius: 5px;
    flex-grow: 1;
    padding: 0.5em;
    margin: 0.5em;
    background-color: $stats_background_color;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1em;
    .title {
      color: darken($stats_background_color, 40%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 0.8em;
      font-family: Arial, Helvetica, sans-serif;
    }
    .value {
      padding: 0.4em 0em 0em 0em;
      display: inline-flex;
      width: 100%;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: light;
      div.center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 1em;
        flex-grow: 1;
        flex-basis: auto;
      }
      div.number {
        display: inline;
        font-size: 1.4em;
        padding: 0px;
        margin: 0px;
        line-height: 1.2em;
      }
      div.number-date {
        font-size: 1.4em;
      }
      div.date {
        flex-grow: 1;
        flex-basis: auto;
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: darken($stats_background_color, 40%);

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
        }
      }
    }
  }
}

.listings-infos {
  margin-top: 0.5em;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  .item {
    width: 100%;
    background-color: lighten($secondaryColor, 35%);
    border-radius: 5px;
    padding: 1em;
    margin: 0em 0em 0.5em 0em;
    .header {
      display: inline-flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 1.2em;
      font-weight: bolder;
      .user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .date {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: right;
      }
      .value {
        font-family: $header_font_family;
        font-size: 1.4em;
        color: darken($secondaryColor, 40%);
      }
      .desc {
        color: lighten($secondaryColor, 15%);
        text-transform: uppercase;
        font-size: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .details {
      display: inline-flex;
      width: 100%;
      flex-direction: row;
      .link {
        display: flex;
        flex-direction: column;
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        flex-basis: auto;
      }
      .info {
        display: flex;
        flex-direction: column;
        min-width: 10em;
        flex-basis: auto;
      }
      .chart {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 300px;
      }
    }
  }
}
