@import '../../template/_variables';
@import '../../template/_mixins';

.daily-listings {
  @include boxRadiusNoShadow();
  background-color: lighten($primaryColor, 35%);
  min-width: 200px;
  min-height: 450px;
  margin: 1em;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  .dl-top {
    display: inline-flex;
    flex-direction: row;
    .dl-header {
      display: inline-flex;
      flex-wrap: wrap;
      letter-spacing: 2px;
      font-family: $header_font_family;
      font-size: 2em;
      a {
        color: darken($primaryColor, 30%);
        text-decoration: none;
        &:visited {
          color: darken($primaryColor, 30%);
        }
      }
    }
    .dl-detail {
    }
  }

  .dl-item-group {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    .dl-item {
      display: inline-flex;
      border-bottom: 1px solid lighten($primaryColor, 20%);
      align-items: center;
      padding: 5px 0px 5px 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      .number {
        opacity: 0.4;
        background-color: darken($primaryColor, 30%);
        padding: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        flex-basis: 25px;
        font-size: 12px;
        border-radius: 50%;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 1em;
        font-family: monospace;
        flex-grow: 0;
      }
      a {
        line-height: 1.2em;
        padding: 0;
        margin: 0;
        display: inline-flex;
        flex-basis: auto;
        flex-grow: 1;
        word-break: break-all;
        word-wrap: break-word;
        text-decoration: none;
        color: darken($primaryColor, 40%);
        opacity: 0.6;
        &:hover {
          opacity: 1;
          // text-decoration: underline;
          color: darken($primaryColor, 40%);
          // color: $primaryColor;
        }
      }
      .filler {
        display: inline-flex;
        flex-grow: 1;
      }
      .group {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        font-weight: bolder;
        flex-basis: auto;
        .sub {
          display: inline-flex;
          .seed {
            min-width: 4em;
            display: inline;
            color: #008000;
            opacity: 0.25;
            &.active {
              opacity: 1;
            }
          }
          .leech {
            min-width: 4em;
            display: inline;
            color: #ff0000;
            opacity: 0.25;
            &.active {
              opacity: 1;
            }
          }
        }
        .uploadedDate {
          width: 8.1em;
          color: black;
          opacity: 0.3;
          font-style: italic;
          font-weight: lighter;
        }
      }
    }
    .dl-item:last-child {
      border-bottom: none !important;
    }
  }
  .dl-footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: darken($primaryColor, 20%);
    .dl-more {
      display: flex;
      align-self: center;
      justify-content: center;
      a {
        color: darken($primaryColor, 15%);
        font-weight: lighter;
        font-size: 1.5em;
        text-decoration: none;
      }
    }
    .dl-options {
      font-weight: normal;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 210px;
      .current {
        display: block;
        font-style: italic;
        color: darken($primaryColor, 12%);
      }
      .try {
        a {
          display: inline;
          // margin-left: 10px;
          color: darken($primaryColor, 30%);
          text-decoration: underline;
        }
      }
    }
  }
}
