@import '../../template/_variables';
@import '../../template/mixins';

form div {
  margin: 1em;
  display: inline-block;
}

.loginInput {
  @include text-field();
  margin: 10px;
  font-size: 0.9em;
  &:focus {
    border: solid 1px $headerBGColor;
    background-color: darken($siteBackGroundColor, 13%);
  }
}

.loginButton {
  margin: 10px 0px 10px 0px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 0.9em;
  // min-width: 15em;
  width: 100%;
  @include boxBorderRadius($primaryColor);
  background-color: $button_signin_color;
}

.loginBox {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1em;
}

.authHead {
  font-style: italic;
  font-size: 1.3em;
  color: $footer_text_color;
  font-family: Arial, Helvetica, sans-serif;
}

.flexCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.error {
  background-color: $error_message_background_color;
  padding: 2em 0em 2em 0em;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: $error_message_text_color;
  font-weight: bold;
}
.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}
