@import '../../template/_variables';
@import '../../template/_mixins';

@mixin what() {
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #a7a7a7;
}

@mixin info() {
  font-size: 1.4em;
  font-family: $header_font_family;
  a {
    padding: 0px 0px 3px 0px;
    text-decoration: none;
    color: darken($secondaryColor, 20%);
    border-bottom: solid 1px darken($secondaryColor, 20%);
    &:hover {
      border-bottom: solid 1px black;
      color: black;
    }
  }
}

.i-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 0em 0em 1em 0em;
  .torrent-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .what {
      @include what();
    }
    .info {
      @include info();
    }
  }
  .upload-user {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    .what {
      @include what();
    }
    .info {
      @include info();
    }
  }
}

.i-section-header {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em 0em 0em 0em;
  font-weight: bold;
  color: #838383;
}

.i-split-details {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.i-details {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  .item {
    min-width: 200px;
    // border-radius: 5px;
    flex-grow: 1;
    padding: 0.5em;
    margin: 0.5em;
    background-color: $stats_background_color;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1em;
    .title {
      color: darken($stats_background_color, 40%);
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 0.8em;
      font-family: Arial, Helvetica, sans-serif;
    }
    .value {
      padding: 0.4em 0em 0em 0em;
      display: inline-flex;
      width: 100%;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: light;
      div {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 1em;
        flex-grow: 1;
        flex-basis: auto;
      }
      div.number {
        display: inline;
        font-size: 1.4em;
        padding: 0px;
        margin: 0px;
        line-height: 1.2em;
      }
      div.number-date {
        font-size: 1.4em;
      }
      div.date {
        flex-grow: 1;
        flex-basis: auto;
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: darken($stats_background_color, 40%);

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
        }
      }
    }
  }
}

.i-snapshots {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .chart {
    display: flex;
    flex-grow: 4;
    flex-basis: 300px;
    min-width: 300px;
    padding: 0.5em;
  }
  .list {
    background-color: $stats_background_color;
    // border-radius: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    padding: 0.5em;
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 250px;
    .item {
      font-family: monospace;
      display: inline-flex;
      flex-wrap: nowrap;
      padding: 0.2em 0em 0em 0.2em;
      &:first-child {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
      }
      .date {
        flex-basis: 6em;
        min-width: 6em;
        flex-grow: 4;
      }
      .time {
        min-width: 8em;
        flex-basis: 8em;
        flex-grow: 2;
      }
      .seed,
      .leech {
        min-width: 4em;
        flex-basis: 4em;
        flex-grow: 2;
      }
    }
  }
}

.i-seed {
  color: darken($seed_color, 1%);
}
.i-leech {
  color: darken($leech_color, 1%);
}

.i-groups {
  display: inline-flex;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  .item {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 1em 0em 0em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    // border-radius: 5px;
    background-color: $stats_background_color;
    padding: 1em;
    justify-content: space-between;
    .site {
      color: #c2c2c2;
      flex-basis: auto;
      text-transform: uppercase;
      font-size: 0.7em;
      a {
        margin: 0 20px 0 0;
        text-decoration: none;
        color: #a7a7a7;
        &:hover {
          color: #4b4b4b;
        }
      }
    }
    .group {
      flex-basis: auto;
      a {
        text-decoration: none;
        color: darken($secondaryColor, 20%);
        // border-bottom: solid 1px darken($secondaryColor, 20%);
        &:hover {
          // border-bottom: solid 1px black;
          color: black;
        }
      }
    }
  }
}
