@import '../../template/_variables';
@import '../../template/_mixins';
.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  margin: 1em;
  @include boxRadiusNoShadow();
  background-color: $stats_background_color;
}
.descr {
  flex-grow: 1;
  margin: 5px;
  padding-left: 8px;
  min-height: $stats_square_flex_dimension;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descr .top {
  font-family: $logoFont;
  font-weight: 900;
  font-size: 1.3em;
  color: lighten($quinaryColor, 30%);
}

.descr .head {
  letter-spacing: 3px;
  margin: 0px;
  padding: 0px;
  font-family: $header_font_family;
  font-size: 2em;
  word-wrap: break-word;
  color: lighten($quinaryColor, 30%);
}

.descr .date {
  padding: 5px;
  color: lighten($quinaryColor, 57%);
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

.stats .seperator {
  flex-grow: 1;
}

.stats .group2 {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.stats .group {
  background-color: $stats_tile_background_color;
  @include boxNoBRadiusNoShadow($stats_tile_background_color);
  min-height: 4em;
  margin: 5px;
  padding: 5px;
  flex-grow: 1;
  min-width: $stats_square_dimension;
  min-height: $stats_square_flex_dimension;
  flex-basis: $stats_square_flex_dimension;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats .group .name {
  font-weight: 900;
  position: absolute;
  font-size: 0.9em;
  color: $stats_desc_color;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.name .pos {
  // width: 100%;
  position: absolute;
  top: 0.8em;
}
.stats .group .value {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 3px;
  font-weight: bolder;
  font-size: 1.6em;
  color: $stats_value_color;
  text-transform: uppercase;
  position: relative;
  top: -0.7em;
  text-align: center;
  animation: fadeIn ease-in 1s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .stats .group .value {
    font-size: 1.3em !important;
  }
  .stats .group .name {
    font-size: 0.8em !important;
  }
}
