@import '../../template/_variables';
@import '../../template/_mixins';

.child-tooltip-holder {
  display: flex;
  cursor: help;
}
.child-tooltip {
  display: none;
}
.child-tooltip-on-hover:hover + .child-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 30;
  background-color: darken($stats_background_color, 40%);
  width: 12em;
  padding: 15px;
  transform: translate(-12em, 1.2em);
  border-radius: 1em;
  color: white;
  text-transform: initial;
  line-height: 1.5em;
  opacity: 0.8;
}

.child-tooltip-message {
  text-align: center;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1em;
  text-shadow: 1px 1px darken($stats_background_color, 65%);
}
