@import '../../template/_variables';
@import '../../template/_mixins';

.basic-tooltip-holder {
  display: flex;
  color: darken($stats_background_color, 15%);
}
.basic-tooltip {
  display: none;
}
.basic-tooltip-on-hover:hover + .basic-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: darken($stats_background_color, 40%);
  width: 12em;
  padding: 15px;
  transform: translate(-12em, 1.2em);
  border-radius: 1em;
  // border: solid 3px darken($stats_background_color, 50%);
  color: white;
  text-transform: initial;
  line-height: 1.5em;
  opacity: 0.9;
}

.basic-tooltip-message {
  text-align: center;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-shadow: 1px 1px darken($stats_background_color, 65%);
}
